<!DOCTYPE html>
<html>
  <head>
    <title>CardSharp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag 'favicon.png' %>

    <script type="text/javascript" src="http://widget.cloudinary.com/global/all.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
